<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Shadow of the Raven
                    <span class="h1Context">Album <em>by</em> Nox Arcana</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>Delve into the haunted realms of Edgar Allan Poe, as Nox Arcana pays tribute to the classic tales of the literary master of the macabre with a lush musical tapestry of Victorian elegance and Gothic nightmares—a dark treasure that truly captures the essence of Poe's tormented soul.</p>
                    <p>The instrumental tracks cover all of Poe's most famous tales and poems, including "The Fall of the House of Usher," "The Cask of Amontillado," and of course, "The Raven." The cd is accompanied by a 12-page booklet filled with Joseph Vargo's lavish artwork depicting Poe's classic horror tales, and even offers fans a hidden "gold bug" riddle.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li>Label: Monolith Graphics</li>
                        <li>Artwork by Joseph Vargo</li>
                        <li>Released <time datetime="2007-08-20">08.20.2007</time></li>
                        <li>21 tracks – 63 min.</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/43gqiDDbbKfFDIjbDsqmE0?si=J_ASGqoGSAS9yptO0RWLvA" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=noOucZsVu5g&list=OLAK5uy_mjMB0DMLfkajESFuFEIa1QpMVFxgyujnU" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/shadow-of-the-raven/1508428810" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/raven.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Shadow-Raven-Nox-Arcana/dp/B000UWUVRU" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>