<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Endless Night
                    <span class="h1Context">Single <em>by</em> William Piotrowski</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>In 2019, I was asked to compose a song to be sung by the talented Ariel de Ment to be performed at the Endless Night Vampire Ball in New Orleans on Halloween. The concept was to show the transition of a woman into a vampire as a decision, not as a victim.</p>
                    <!-- <p>Unfortunately, there is no recording of the performance to my knowledge, but there is a portion of the instrumental on Soundcloud.</p> -->
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li><span class="label">Performed Live on </span> <time datetime="2018-10-31">10.31.2018</time></li>
                        <li><span class="label">Vocals by </span> <a href="https://www.instagram.com/ariel.dement/" target="_blank">Ariel de Ment</a></li>
                        <li><span class="label">Photo by </span><a href="https://www.instagram.com/whiskey_shotz/" target="_blank">Whisky Shotz Photography</a></li>
                        <!-- <li>Label: Monolith Graphics</li>
                        <li>Artwork by Joseph Vargo</li>
                        <li>Released <time datetime="2005-10-21">10.21.2005</time></li>
                        <li>21 tracks – 56 min.</li> -->
                        <li><span class="label">My contribution:</span> composer</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <!-- <li id="stream-spotify"><a href="https://open.spotify.com/album/3w4Bw1sMZjDO80yfOPoG5M?si=jpoV0j14QRS85dYIGs_bXA" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=DA0IrCJT_yw&list=OLAK5uy_ng0abhdrJk10_7_QkH_nCC_IJC2YDM-84" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/transylvania/1507083058" target="_blank">Stream on Apple Music</a></li> -->
                            <li id="stream-soundcloud"><a href="https://soundcloud.com/bill-piotrowski/endless-night" target="_blank">Stream on Soundcloud</a></li>
                        </ul>
                    </section>

                    <!-- <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/transylvania.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Transylvania-Nox-Arcana/dp/B000BO1JLY" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section> -->
                </div>

            </div>
        </main>
    </div>
</div>