<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Grey Cardinal
                    <span class="h1Context">Single <em>by</em> Collapsing Scenery (ft. Ryan Ross)</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>Most remixes are faster and more club-ready than the original. Not this one. Ryan and I took this as an opportunity to slow down the original Collapsing Scenery track and accompany Mickey's haunting vocals and lyrics with pagan strings, flutes and percussion. The concept was based on imagery of The Witch (2015, Robert Eggers) and Midsommar (Ari Aster, 2019). This track gave me a chance to go back to my roots with a darker sound as well as continue to develop sampling techniques. During the mixing phase, I had the pleasure to meet and work closely with Don of Collapsing Scenery, who encouraged Ryan and I to trust our instincts with the sampling and mix process.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li><span class="label">Video by</span> Z Berg and <a href="https://www.drewfuller.com/" target="_blank">Drew Fuller</a></li>
                        <li><span class="label">Released </span><time datetime="2021-06-15">06.15.2021</time></li>
                        <li><span class="label">My contribution:</span> producer, mixer</li>
                        <!-- <li>single</li> -->
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/track/0iv0jFywnTTU4TNE5osZwy?si=3f165c98e4e248e6" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=O035C_XPZr8" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/the-grey-cardinal-ryan-ross-remix/1569266584?i=1569267066" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Grey-Cardinal-Ryan-Ross-Remix/dp/B095VMQNLR/" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>

