<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Grey Cardinal
                    <span class="h1Context">Single <em>by</em> Collapsing Scenery (ft. Ryan Ross)</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Scelerisque felis imperdiet proin fermentum leo vel orci porta. Mi sit amet mauris commodo. Vulputate eu scelerisque felis imperdiet proin. Auctor eu augue ut lectus arcu bibendum at. Non pulvinar neque laoreet suspendisse interdum. Porta non pulvinar neque laoreet suspendisse interdum consectetur. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est. Sed arcu non odio euismod lacinia. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Elit duis tristique sollicitudin nibh sit. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Pharetra diam sit amet nisl.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li>Video by Z Berg and Drew Fuller</li>
                        <!-- <li>Released <time datetime="2003-12-15">12.15.2003</time></li> -->
                        <!-- <li>single</li> -->
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/track/0iv0jFywnTTU4TNE5osZwy?si=3f165c98e4e248e6" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=O035C_XPZr8" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/the-grey-cardinal-ryan-ross-remix/1569266584?i=1569267066" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Grey-Cardinal-Ryan-Ross-Remix/dp/B095VMQNLR/" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>

