<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Grimm Tales
                    <span class="h1Context">Album <em>by</em> Nox Arcana</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>Enter the Realm of Fable, where goblins, elves and woodland spirits dwell in the deepest shadows of the forest beneath the wicked Witch Queen's spell of eternal darkness. Nox Arcana invites you to immerse yourself in a haunting soundscape of bewitching melodies, eerie sound effects and pulse-pounding orchestrations as you explore an enchanted land of dark fairy tales and childhood nightmares that harken back to the fables of The Brothers Grimm.</p>
                    <p>Haunting music box melodies echo in the night, the raspy voice of an ancient crone tells a dark bedtime story, ominous orchestrations fill the dark forest and a wicked witch invokes a sinister incantation.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li>Label: Monolith Graphics</li>
                        <li>Artwork by Joseph Vargo</li>
                        <li>Released <time datetime="2008-04-30">04.30.2008</time></li>
                        <li>21 tracks – 66 min.</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/4weGgDYvw41kilYVjguKp4?si=c5fXNj4ARlmxHxLDX_HMLg" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=8HEMlQ2Ontw&list=OLAK5uy_mDeVbi-cK27Q3W2YrhjkhBtdnoQWN6IdY" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/grimm-tales/1507264166" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/grimm.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Grimm-Tales-Nox-Arcana/dp/B0017GXZ4E/" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>