<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Phantoms of the High Seas
                    <span class="h1Context">Album <em>by</em> Nox Arcana</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>Hearken ye pirates and black-hearted sea dogs. Nox Arcana beckons ye to set sail upon the haunted seas where ghost ships prowl the misty dead of night and ancient treasure lies buried far below the endless waves.</p>
                    <p>This epic soundscape explores the mysteries of the deep with dynamic orchestrations, ghostly melodies, pirate anthems and gothic choirs. Aye, and legend tells that this CD holds clues to finding the Lost Treasure of the Tempest.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li><span class="label">Label:</span> Monolith Graphics</li>
                        <li><span class="label">Artwork by</span> Joseph Vargo</li>
                        <li><span class="label">Released </span><time datetime="2008-10-13">10.13.2008</time></li>
                        <li>21 tracks – 68 min.</li>
                        <li><span class="label">My contribution:</span> composer, producer, engineer, mixer</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/2pqRAPbGUszEPsQ50U3i7K?si=lehFpSkzS1ivssIvdK7GdA" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=VhZh43o-dFc&list=OLAK5uy_l0sNkane6aNnbs-jyhexR9A_oJEopf1Fg" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/phantoms-of-the-high-seas/1507368551" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/phantoms.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Phantoms-High-Seas-Nox-Arcana/dp/B001FE0XKW" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>