.content {
    padding-top: 4em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}
ul {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}




/* 
    VW = 1,450 (ideal width)
    VW * .8 * .25 = 290 (static width of image)

    Static height = 310
    h = x * VW
    310 = X * 1450

    X = 0.213793103448276
*/
ul#catalog li {
    list-style: none;
    margin: 0;
    width: 25%;
    height: 21.379310344827586vw;
}
ul#catalog li a {
    /* margin: 0; */
    display: block;
    line-height: 0%;
    /* width: 290px;
    height: 310px; */
    width: 100%;
    height: 100%;
    /* background: center center no-repeat; */
    background: url(/assets/images/contact-sheet-bw.png) no-repeat;
    background-size: 1600% 100%;
    /* 290 x 310 */
}
ul#catalog li a:hover {
    background-image: url(/assets/images/contact-sheet-color.jpg);
}

ul#catalog li#lonesomeTown a {
    background-position-x: 6.666666666666667%;
}
ul#catalog li#darkloreManor a {
    background-position-x: 13.333333333333333%;
}
ul#catalog li#necronomicon a {
    background-position-x: 20%;
}
ul#catalog li#transylvania a {
    background-position-x: 26.666666666666667%;
}
ul#catalog li#wintersKnight a {
    background-position-x: 33.333333333333334%;
}
ul#catalog li#carnival a {
    background-position-x: 40%;
}
ul#catalog li#bloodOfTheDragon a {
    background-position-x: 46.666666666666667%;
}


ul#catalog li#memory a {
    background-position-x: 53.333333333333334%;
}
ul#catalog li#shadowOfTheRaven a {
    background-position-x: 60%;
}
ul#catalog li#grimmTales a {
    background-position-x: 66.666666666666667%;
}
ul#catalog li#phantomsOfTheHighSeas a {
    background-position-x: 73.333333333333334%;
}
ul#catalog li#bloodOfAngels a {
    background-position-x: 80%;
}
ul#catalog li#crimsonWinter a {
    background-position-x: 86.666666666666667%;
}

ul#catalog li#wsu a {
    background-position-x: 93.333333333333334%;
}

ul#catalog li#endlessNight a {
    background-position-x: 100%;
}





@media only screen and (max-width: 600px) {

/* 
        VW = 725 (ideal width)
        VW * .8 * .5 = 290 (static width of image)

        Static height = 310
        h = x * VW
        310 = X * 725

        X = 0.427586206896552
*/
    ul#catalog li {
        width: 50%;
        height: 42.758620689655172vw;
    }
    /* ul {
        margin: 0 4%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    ul#catalog li {
        list-style: none;
        margin: 0;

        width: 25%;
        height: 21.379310344827586vw;
    } */
}
