<div class="content">
        <main>

        <ul id="catalog">
            <li id="greyCardinal"><a routerLink="/grey-cardinal"></a></li>
            <li id="lonesomeTown"><a routerLink="/lonesome-town"></a></li>
            <li id="memory"><a routerLink="/you-cant-put-your-arms-around-a-memory"></a></li>
            <li id="crimsonWinter"><a routerLink="/crimson-winter"></a></li>
            <li id="phantomsOfTheHighSeas"><a routerLink="/phantoms-of-the-high-seas"></a></li>
            <li id="grimmTales"><a routerLink="/grimm-tales"></a></li>
            <li id="shadowOfTheRaven"><a routerLink="/shadow-of-the-raven"></a></li>
            <li id="bloodOfTheDragon"><a routerLink="/blood-of-the-dragon"></a></li>
            <li id="bloodOfAngels"><a routerLink="/blood-of-angels"></a></li>
            <li id="carnival"><a routerLink="/carnival-of-lost-souls"></a></li>
            <li id="transylvania"><a routerLink="/transylvania"></a></li>
            <li id="wintersKnight"><a routerLink="/winters-knight"></a></li>
            <li id="necronomicon"><a routerLink="/necronomicon"></a></li>
            <li id="darkloreManor"><a routerLink="/darklore-manor"></a></li>
        
        </ul>
        <!-- <img src="/assets/images/contact-sheet.png" /> -->
    </main>

</div>