.content {
    padding-top: 4em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul {
    margin: 0;
}

ul#catalog li {
    list-style: none;
    float: left;
    margin: 0;
}
ul#catalog li a {
    /* margin: 0; */
    display: block;
    line-height: 0%;
    width: 290px;
    height: 310px;
    /* background: center center no-repeat; */
    background: url(/assets/images/contact-sheet-bw.png) no-repeat;
    background-size: 253.75rem 19.375rem;
    /* 290 x 310 */
}
ul#catalog li a:hover {
    background-image: url(/assets/images/contact-sheet-color.jpg);
}

ul#catalog li#lonesomeTown a {
    background-position-x: -18.125rem;
}
ul#catalog li#darkloreManor a {
    background-position-x: -36.25rem;
}
ul#catalog li#necronomicon a {
    background-position-x: -54.375rem;
}
ul#catalog li#transylvania a {
    background-position-x: -72.5rem;
}
ul#catalog li#wintersKnight a {
    background-position-x: -90.625rem;
}
ul#catalog li#carnival a {
    background-position-x: -108.75rem;
}
ul#catalog li#bloodOfTheDragon a {
    background-position-x: -126.875rem;
}


ul#catalog li#memory a {
    background-position-x: -145rem;
}
ul#catalog li#shadowOfTheRaven a {
    background-position-x: -163.125rem;
}
ul#catalog li#grimmTales a {
    background-position-x: -181.25rem;
}
ul#catalog li#phantomsOfTheHighSeas a {
    background-position-x: -199.375rem;
}
ul#catalog li#bloodOfAngels a {
    background-position-x: -217.5rem;
}
ul#catalog li#crimsonWinter a {
    background-position-x: -235.625rem;
}