<section>

    <ul id="catalog">
        <li id="greyCardinal"><a routerLink="/grey-cardinal"></a></li>
        <li id="lonesomeTown"><a href="#"></a></li>
        <li id="darkloreManor"><a href="#"></a></li>
        <li id="necronomicon"><a href="#"></a></li>
        <li id="transylvania"><a href="#"></a></li>
        <li id="wintersKnight"><a href="#"></a></li>
        <li id="carnival"><a href="#"></a></li>
        <li id="bloodOfTheDragon"><a href="#"></a></li>
    
    </ul>
    <!-- <img src="/assets/images/contact-sheet.png" /> -->
</section>
