<div class="content" >


    <!-- <section id="correspondance" > -->
        <div class="wrapper">
    
            <h1>Email</h1>
            <img src="/assets/images/sig.gif"/>
            <h2>Social Links</h2>
            <ul>
                <li><a href="https://twitter.com/billPiotrowski" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/williampiotrowski/" target="_blank">Instagram</a></li>
                <li><a href="https://www.facebook.com/WilliamPiotrowskiMusic" target="_blank">Facebook</a></li>
            </ul>
        </div>
    
    <!-- </section> -->
    
</div>
