<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Carnival of Lost Souls
                    <span class="h1Context">Album <em>by</em> NOX ARCANA</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>Welcome ladies and gentlemen to the circus of the strange, the sideshow of the sinister and the theater of the bizarre. Cast your eyes upon the cruel oddities of nature and behold monstrous creatures from the depths of the abyss. Hear the dark wisdom of the old gypsy soothsayer as she foretells of things yet to come, and marvel with awe and dismay at unbelievable death-defying acts that teeter on the very brink of doom. Leave the mundane world behind, for those who visit this festival of phantasms are never the same again. Step this way... there's no turning back.</p>
                    <p>Nox Arcana takes listeners inside an old-fashioned traveling circus, in the tradition of Bradbury's "Something Wicked This Way Comes." As the Circus Diabolique rises from the shadows on Halloween night every one-hundred years, the true faces of its diabolical denizens are unmasked. Carnival of Lost Souls delivers the Greatest Show On Earth with dark orchestrations and eerie melodies, haunting calliope, piano, pipe organ, ghostly choirs and sinister voices that echo from the shadows.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li>Label: Monolith Graphics</li>
                        <li>Artwork by Joseph Vargo</li>
                        <li>Released <time datetime="2006-06-06">06.06.2006</time></li>
                        <li>21 tracks – 63 min.</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/5UqoFr8yeW0wpF5JBYTcnJ?si=Z25HG4jzRUe0uDHdW2fvyw" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=eQWChDHytN8&list=OLAK5uy_lHMOg5figVrOd-YQ245r5QQVw39SujJL0" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/carnival-of-lost-souls/1507237506" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/carnival.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Carnival-Lost-Souls-Nox-Arcana/dp/B000FOT9EE/" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>