<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Blood of the Dragon
                    <span class="h1Context">Album <em>by</em> NOX ARCANA</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>In the time of the ancient gods, dragons ruled the skies and kingdoms rose and fell at the end of a sword. Legendary quests beckoned with the promise of danger and glory, and only a brave few dared to answer the call. For honor and vengeance they ventured forth with steel and sorcery to combat the merciless legions of darkness. For it was said that those who answered the call were possessed of the warrior spirit, and the blood of the dragon flowed through their veins.</p>
                    <p>This spellbinding soundscape sets the perfect mood, as you traverse dark kingdoms ruled by wizards and warriors to battle alongside barbarian hordes, elven mages and knights of legend, with powerful, chanting choirs, medieval melodies, war horns, heavy drums, bagpipe, harp, acoustic guitar and fiddle, with battle sound effects. These haunting and majestic themes evoke forgotten realms, from the stormy Celtic highlands to ancient Egyptian temples, from mystical towering citadels to the Stygian depths of the Underworld.<i> Blood of the Dragon</i> conveys a musical story along the lines of classic movie soundtracks like <i>Conan, The 13th Warrior, and The Lord of the Rings.</i></p>
                    <p>The album also contains a legendary quest for an ancient prize known as the Treasure of the Four Crowns. According to arcane lore, the treasure was gathered by the kings of the four ancient realms and hidden deep in the earth long ago. The treasure yet lies buried, awaiting anyone clever enough or bold enough to discover it. The cd booklet is also filled with stunning fantasy artwork by Vargo and contains several paintings of dragons, warriors, and exotic enchantresses.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li><span class="label">Label:</span> Monolith Graphics</li>
                        <li><span class="label">Artwork by</span> Joseph Vargo</li>
                        <!-- (Dragon Slayer, Traitors, Dragon Lord, Dinner Guests, Blood of the Dragon) -->
                        <li><span class="label">Released </span><time datetime="2006-11-27">11.27.2006</time></li>
                        <li>21 tracks – 68 min.</li>
                        <li><span class="label">My contribution:</span> composer, producer, engineer, mixer</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/0v8PyohSNlXH1M2qZ8HH1e?si=YDRpG4fTRECeKJ00DJayGQ" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=cl6e5-xqxT8&list=OLAK5uy_n7n9uMx9CHdznXOLopmiSbrLXLil6btnw" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/blood-of-the-dragon/1507259807" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/dragon.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Blood-Dragon-Nox-Arcana/dp/B000L22PE6/ref=tmm_acd_swatch_0?_encoding=UTF8&qid=1634247244&sr=1-1" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>