<div class="content">
    <!-- <section > -->

        <!-- <section [@bioOpenClose]="isBiographyOpen ? 'open' : 'closed'" class="open-close-container" id="biography"> -->
            <div class="wrapper">
            <h1>Biography</h1>
            <p>Hello.</p>
            <p>I am a composer living in Los Angeles searching for how music, sound, picture, electricity and nature interconnect. This site is made to share some of my projects, so please feel free to look around. Welcome to my world.</p>
            <p>The background videos throughout the site are samples from:</p>
            <ul>
                <li>A Page of Madness (狂った一頁, Kurutta Ichipeiji 1926)</li>
                <li>Haxan (Benjamin Christensen 1922)</li>
            </ul>
            <br/>
            <table>
                <tr>
                    <td>&#9737;</td>
                    <td>Scorpio</td>
                </tr>
                <tr>
                    <td>&#9790;</td>
                    <td>Scorpio</td>
                </tr>
                <tr>
                    <td>&#8607;</td>
                    <td>Cancer</td>
                </tr>
            </table> 
                
        </div>
    <!-- </section> -->
</div>

