<section class="open-close-container" id="biography">

    <!-- <section [@bioOpenClose]="isBiographyOpen ? 'open' : 'closed'" class="open-close-container" id="biography"> -->
        <div class="wrapper">
        
        <table>
            <tr>
                <td>Sun</td>
                <td>Scorpio</td>
            </tr>
            <tr>
                <td>Moon</td>
                <td>Scorpio</td>
            </tr>
            <tr>
                <td>Rising</td>
                <td>Cancer</td>
            </tr>
        </table> 
        <p>composer (2003-2008) and engineer for Nox Arcana, began his professional music career at the early age of 15 when he created the musical score for an independent production entitled "Ghosts of Ohio," a video documentary about the original "Ghost Whisperer," which became a popular TV series on CBS. William plays guitar and keyboards, and is well versed in digital recording technology. William's expertise as a studio engineer enables him to bring Nox Arcana's artistic visions to life. William is currently in LA pursuing a film music career but continues to act as the studio engineer for Nox Arcana.</p>
    </div>
</section>

