<div class="content">
    <!-- <section > -->

        <!-- <section [@bioOpenClose]="isBiographyOpen ? 'open' : 'closed'" class="open-close-container" id="biography"> -->
            <div class="wrapper">
            <h1>Biography</h1>
            <!-- <table>
                <tr>
                    <td>Sun</td>
                    <td>Scorpio</td>
                </tr>
                <tr>
                    <td>Moon</td>
                    <td>Scorpio</td>
                </tr>
                <tr>
                    <td>Rising</td>
                    <td>Cancer</td>
                </tr>
            </table>  -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Scelerisque felis imperdiet proin fermentum leo vel orci porta. Mi sit amet mauris commodo. Vulputate eu scelerisque felis imperdiet proin. Auctor eu augue ut lectus arcu bibendum at. Non pulvinar neque laoreet suspendisse interdum. Porta non pulvinar neque laoreet suspendisse interdum consectetur. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est. Sed arcu non odio euismod lacinia. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Elit duis tristique sollicitudin nibh sit. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Pharetra diam sit amet nisl.</p>
                
        </div>
    <!-- </section> -->
</div>

