<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    What Separates Us
                    <span class="h1Context">Original Motion Picture Soundtrack <em>by</em> William Piotrowski</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>What Separates Us is my second score for a feature film and gave me an opportunity to explore a palette of new sounds while still maintaining dark and somber overtones. The film centers around a group of young men growing up in a poor part of Helena, Montana. The concept for the score was to create a sound that was sad and yet still remained hopeful. Like a melody heard emanating from the distant Irish Catholic cathedral that looms over the city.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li>Unreleased soundtrack</li>
                        <li><span class="label">Film Released </span><time datetime="2016-10-22">10.22.2016</time></li>
                        <li><span class="label">My contribution:</span> composer, producer, dialog editor, Foley artist, sound designer, mixer</li>
                        <!-- <li>Label: Monolith Graphics</li>
                        <li>Artwork by Joseph Vargo</li>
                        <li>Released <time datetime="2005-10-21">10.21.2005</time></li>
                        <li>21 tracks – 56 min.</li> -->
                    </ul>
                </section>

            </div>

            <!-- <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/3w4Bw1sMZjDO80yfOPoG5M?si=jpoV0j14QRS85dYIGs_bXA" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=DA0IrCJT_yw&list=OLAK5uy_ng0abhdrJk10_7_QkH_nCC_IJC2YDM-84" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/transylvania/1507083058" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/transylvania.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Transylvania-Nox-Arcana/dp/B000BO1JLY" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div> -->
        </main>
    </div>
</div>