<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Crimson Winter
                    <span class="h1Context">Original Motion Picture Soundtrack <em>by</em> William Piotrowski</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>In the frozen heart of winter, a group of researchers sets out to investigate a mysterious decline in the local wildlife population. Their journey takes them deep into the isolated mountain wilderness where they soon discover a terrifying truth and find themselves caught between two deadly foes in a centuries-old battle between vampires and hunters. As they struggle to survive, they come face to face with the vampire prince, Elric, who is haunted by his own dark past. An ancient prophecy and his own anguished heart weigh heavily upon him as the vampire lord decides the fate of those who have discovered his hidden sanctum.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li><span class="label">Released </span><time datetime="2013-10-31">10.31.2013</time></li>
                        <li>21 tracks</li>
                        <li><span class="label">My contribution:</span> composer, co-producer (film)</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/2fPq4aSSEsrSQP6W55grUh?si=0r4KLDDXSjmj4-beeeKGIQ" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=ssPO_912LRc&list=PLL5jCrizkQYlRT90FWnBW8byne6ifSOI3&index=1" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/crimson-winter-original-motion-picture-soundtrack/728533925" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/crimsonwinter.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Crimson-Winter-Original-Picture-Soundtrack/dp/B00GKOPQT0/" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>