<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    You Can't Put Your Arms Around a Memory
                    <span class="h1Context">Single <em>by</em> Z Berg and Ryan Ross</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                   
                    <p>In the fall of 2016, Ryan purchased an instrument called the French Connection (actually a CV controller for those who are curious) which was a recreation of the historic Ondes Martenot. The Ondes Martenot is one of the earliest synthesizers, developed by Maurice Martenot in the 1930s after his service as a radio engineer in World War I. I highly recommend watching Wavemakers (original French title Le chant des ondes, 2012 directed by Caroline Martel) for those unfamiliar with the instrument.</p>

                    <p>After first playing on the French Connection, I remember driving home and thinking that I could never go back to playing the piano as this new instrument is so much more expressive. Luckily within the next two years, I met Nao Omo, the inventor of the Ondomo, a fully-functioning recreation of the Ones Martenot and I was able to get one of the early models. To this day, it is still among my most prized possessions.</p>

                    <p>In 2019, Ryan along with Z Berg, Alex Greenwald and I performed a version of You Can't Put Your Arms Around a Memory live (video here: ), which sparked Tony Berg to encourage us to create a recording. The final recording features an arrangement for 3 Ondomo.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li>Artwork by Annette Lamothe-Ramos</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=bP_CgY7bIkI" target="_blank">Stream on YouTube</a></li>
                        </ul>
                    </section>
<!-- 
                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/darklore.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Darklore-Manor-Nox-Arcana/dp/B0006OHMRY" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section> -->
                </div>

            </div>
        </main>
    </div>
</div>