<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    You Can't Put Your Arms Around a Memory
                    <span class="h1Context">Single <em>by</em> Z Berg and Ryan Ross</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>In late 2002 and 2003, Joseph Vargo and I had been working on melodies, including what would become Music Box and Temple of the Black Pharaoh from Necronomicon, and decided to get serious about the project. Vargo recommended that I watch Vincent Price in House and Haunted Hill and between that and the painting that he had done in 2001 of a haunted house, we had all of the inspiration needed to get a studio up and running and begin production. This premiere album of Nox Arcana was completed around Halloween of 2003 and features haunting pianos, ghostly choirs and heavy string arrangements to evoke the atmosphere of a New England haunted mansion and would set the tone for what was to come from the duo.  </p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li>Artwork by Joseph Vargo</li>
                        <li>Released <time datetime="2003-12-15">12.15.2003</time></li>
                        <li>21 tracks – 51 min.</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/10GrUEbRq0HsGqu8XmR0OE?si=kHVkrwv0RAOYfA9HaU78zw&dl_branch=1" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=nU6Xyenu9Fg&list=OLAK5uy_kVJqk7UQo6b4DGYJKNY4eY6nnBZS2qGlA" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/darklore-manor/1507037620" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/darklore.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Darklore-Manor-Nox-Arcana/dp/B0006OHMRY" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>