RewriteEngine On

# Following lines from angular site do not work:
# https://angular.io/guide/deployment#server-configuration
# If an existing asset or directory is requested go to it as it is
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
# RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
# RewriteRule ^ /index.html

# Following lines are from stack overflow and do work.
# https://stackoverflow.com/questions/57292529/angular-deep-link-refresh-fails-while-app-is-hosted
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) /index.html [NC,L]




# Following two commands fix https issues
RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://williampiotrowski.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.williampiotrowski.com [NC]
RewriteRule ^(.*)$ https://williampiotrowski.com/$1 [L,R=301]


