<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Lonesome Town
                    <span class="h1Context">Single <em>by</em> Ryan Ross and Z Berg</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>Within a month of the  Covid lockdowns first taking place in 2020, the air quality in Los Angeles became the cleanest it has been in decades. From my street, I saw mountains that I had never seen before. A result of us individually doing our part to protect each other.</p>
                    <p>As the pandemic continued on and events cast a spotlight toward the hatred and injustice that exists in the world, I was reminded of that power we all have as individuals.</p>
                    <p>During that early phase of the lockdowns, Ryan Ross and I produced the arrangement for this cover of Lonesome Town featuring Z Berg on vocals. As proud as I am of the music, I am more proud that it is complemented by a video assembled from clips created by young artists all around the globe.</p>
                    <p>A lot of small acts can have a great affect.</p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li><span class="label">Video Released </span><time datetime="2020-06-16">06.16.2020</time></li>
                        <li><span class="label">Single Released </span><time datetime="2021-11-29">11.29.2021</time></li>
                        <li><span class="label">My contribution:</span> producer</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=EzcWGQQiFDU" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-spotify"><a href="https://open.spotify.com/track/1zPjMuGXwnBfOpMUnjTqlA?si=a59241b432264531" target="_blank">Stream on Spotify</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/dp/B09M9DQM8M" target="_blank">Purchase digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>