<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Darklore Manor
                    <span class="h1Context">Album <em>by</em> NOX ARCANA</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>Darklore Manor, a place where creatures of the night lurk in shadows and ghostly sounds echo through its unhallowed halls.</p>
                    <p>The concept of the album, which is based on the tales of a real haunted Victorian mansion near Salem, Mass., centers around the mysterious deaths of its original owners, the Darklore family, the curse that yet lingers there among the ruins, and the later disappearance of three teenagers who set out to hold a séance in the house on Halloween night several years ago. Reminiscent of Shirley Jackson's The Haunting of Hill House, this ghostly tale delivers all the elements of a classic horror film—an old mansion with a dark history, a cursed bloodline, tales of black magic and vengeful spirits of the dead—brought to life through ominous music and eerie sound effects.</p>
                    <p>This gothic soundscape of haunting melodies, ghostly voices, Latin chants, and foreboding orchestrations creates the perfect dark atmosphere.</p>
                </section>
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li><span class="label">Label:</span> Monolith Graphics</li>
                        <li><span class="label">Artwork by</span> Joseph Vargo</li>
                        <li><span class="label">Released </span><time datetime="2003-12-15">12.15.2003</time></li>
                        <li>21 tracks – 51 min.</li>
                        <li><span class="label">My contribution:</span> composer, producer, engineer, mixer</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/10GrUEbRq0HsGqu8XmR0OE?si=ONKqrC9cS9OqPw6utViDkg" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=nU6Xyenu9Fg&list=OLAK5uy_kVJqk7UQo6b4DGYJKNY4eY6nnBZS2qGlA" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/darklore-manor/1507037620" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/darklore.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Darklore-Manor-Nox-Arcana/dp/B0006OHMRY" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>