nav {
    position: absolute;
    z-index: 7;
    width: 80%;
    height: 20px;
    left: 10%;
    height: 23.979328165374677vw;
    top: 50%;
    margin-top: -16vw;
}
nav ul li {
    position: absolute;
    top: 0;
    height: 100%;
}
nav ul li#repertorium {
    width: 37.467700258397933%;
    left: 0;
}
nav ul li#biography {
    width: 31.266149870801034%;
    left: 37.467700258397933%;
}
nav ul li#correspond {
    width: 31.266149870801034%;
    left: 68.733850129198967%;
}



nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/images/hands-24.png);
}
nav ul li#repertorium a {
    background-size: 266.896551724137931% 200%;
}
nav ul li#biography a {
    background-size: 319.834710743801653% 200%;
    background-position-x: 55%;
}
nav ul li#correspond a {
    background-size: 319.834710743801653% 200%;
    background-position-x: 100%;
}
nav ul li a:hover {
    background-position-y: 100%;
}


@media (hover: none) {
    nav ul li a {
        background-position-y: 100%;
    }
}