<div id="musicItem" class="content">
    <div class="wrapper">

        <a id="backLink" routerLink="/repertorium" >< Back to Repertorium</a>

        <main>

            <header>
                <h1>
                    Necronicom
                    <span class="h1Context">Album <em>by</em> NOX ARCANA</span>
                </h1>
            </header>

            <div class="top">

                <section id="description">
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>The Necronomicon is said to contain the lost knowledge of the Elder Gods, the ancient lords of darkness that held dominion over the Earth aeons ago. Believed to hold the key to opening forgotten gateways between worlds, the text prophesies the return of the Great Old Ones and contains forbidden rituals of summoning that will bring about their resurrection.</p>
                    <p>Now, for the first time ever, the Necronomicon is set to music with this a powerful and sinister symphony by Nox Arcana. This epic concept album based on H.P. Lovecraft's legendary book of shadows features a mixture of exotic, dark fantasy themes, ominous orchestrations, Gothic choirs, Egyptian and Middle-Eastern melodies, eerie voices and otherworldly chants. </p>
                </section>
                
                <section id="details">
                    <header class="label">
                        <h2>Details</h2>
                    </header>
                    <ul>
                        <li><span class="label">Label:</span> Monolith Graphics</li>
                        <li><span class="label">Artwork by</span> Joseph Vargo</li>
                        <li><span class="label">Released </span><time datetime="2004-10-10">10.10.2004</time></li>
                        <li>21 tracks – 50 min.</li>
                        <li><span class="label">My contribution:</span> composer, producer, engineer, mixer</li>
                    </ul>
                </section>

            </div>

            <div id="listeningOptions">
                <header>
                    <h2>Listening Options</h2>
                </header>

                <div class="bottom">
                    <section id="streamOptions" aria-labelledby="stream-label" class="clearfix">
                        <header class="label">
                            <h3 id="stream-label">Stream</h3>
                        </header>
                        <ul>
                            <li id="stream-spotify"><a href="https://open.spotify.com/album/7qqCpwOfBAgrYN8rdES5Qa?si=0XFhqF2yQ4aPUeTJDsHLMQ" target="_blank">Stream on Spotify</a></li>
                            <li id="stream-youtube"><a href="https://www.youtube.com/watch?v=tmBFYDW0zBI&list=OLAK5uy_ntmIFtAsU4nTUYOrgB88o0ET4keoc0LOo" target="_blank">Stream on YouTube</a></li>
                            <li id="stream-apple"><a href="https://music.apple.com/us/album/necronomicon/1507152152" target="_blank">Stream on Apple Music</a></li>
                        </ul>
                    </section>

                    <section id="purchaseOptions" aria-labelledby="purchase-label" class="clearfix">
                        <header class="label">
                            <h3 id="purchase-label">Purchase</h3>
                        </header>
                        <ul>
                            <li id="purchase-monolith"><a href="https://noxarcana.com/necronomicon.html" target="_blank">Purchase CD from Monolith Graphics</a></li>
                            <li id="purchase-amazon"><a href="https://www.amazon.com/Necronomicon-Nox-Arcana/dp/B0006OHMS8/" target="_blank">Purchase CD or digital copy on Amazon</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </main>
    </div>
</div>